/* Style global */
* {
    box-sizing: border-box;
}

body {
    font-family: "Apercu",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #10162f;
    color: #fff;
}

/* HEADER */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white !important;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main a, a:visited, a:active, a:focus {
    color: #FFD300;
}

section {
    margin-bottom: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

.section-title {
    text-decoration: underline;
    text-align: center;
    margin: 30px;
}

/* ABOUT */
#about {
    display: flex;
    width: 53rem;
    -webkit-box-pack: center;
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
}
#about h3 {
    text-align: center;
}

/* SKILLS */
#skills {
    display: flex;
    flex-direction: column;
    width: 53rem;
}

#skills > h2,
#skills > h3 {
    text-align: center;
}

.skills-icons-container {
    display: flex;
    gap: 10px;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-icons {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 5px 0 5px;
    width: 80px;
    height: 120px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.skills-icons:hover {
    transform: scale(1.05);
    border-color: #007BFF;
}

.skills-icons img {
    width: 48px;
    height: 48px;
}

.skills-icons span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.skills-icons span.too-long {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* PROJECTS */
#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#projects ul {
    display: inline-block;
    text-align: left;
}

.projects-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.column-left, .column-right {
    flex: 0 0 45%;
    padding: 10px;
    align-items: center;
    background-color:#333;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-width: 450px;
    max-width: 500px;
}

/* E2C */
#e2c {
    text-align: left;
    width: 53rem;
}

.entreprises {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    padding: 0 10em;
    margin: 0 auto;
}

.entreprises li {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

/* STAGES */
#stages {
    display: flex;
    flex-direction: column;
    width: 53rem;
}

/* DATETIME */
#datetime {
    text-align: center;
}

/* FOOTER */
.contact-container {
    display: inline-flex;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-box {
    background-color: #424242;
    width: 50px;
    height: 50px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-box.github:hover {
    background-color: rgb(65, 131, 196);
    transform: scale(1.1);
}

.contact-box.linkedin:hover {
    background-color: rgb(0, 119, 181);
    transform: scale(1.1);
}

.contact-box img {
    width: 32px;
    height: 32px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}