/*
body {
    background-image: url("images/image-background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
    width: 100% auto;
    font-family: Arial, sans-serif;
}
*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #1d2542;
    /* background: -webkit-linear-gradient(-45deg, #cee5ff, #396cca); */
    /* color: rgba(255, 255, 255, 0.911); */
    color: #ced0d3;
}

body > h2,
body > h3,
body > h4,
body > div,
body > p {
    margin-left: 10px;
}

.section-title {
    text-decoration: underline;
    text-align: center;
}

#about {
    text-align: center;
}

#skills > h2,
#skills > h3 {
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

a, a:visited, a:active, a:focus {
    color:#dfe5ec
}

.skills-icons-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-icons {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 10px 5px 0 5px;
    width: 60px;
    height: 100px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.skills-icons:hover {
    transform: scale(1.05);
    border-color: #007BFF;
}

.skills-icons img {
    width: 48px;
}

.skills-icons span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skills-icons span.js {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#projects {
    display: flex;
    gap: 20px;
    text-align: center;
}

#projects ul {
    display: inline-block;
    text-align: left;
}

.column-left, .column-right {
    flex: 1;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color:#333;
    border: 1px solid #ccc;
}

#datetime {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

footer .contact-container {
    display: inline-flex;
}